.customDialog {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 32px;
  position: relative;
  border-radius: 4px;

  .title {
    padding: 4px;
  }

  .label {
    border-top: 1px solid rgba(183, 185, 187, 0.53);
    border-bottom: 1px solid rgba(183, 185, 187, 0.53);
    padding: 4px;

    .delete {
      color: rgba(0, 0, 0, 0.7);
      height: 48px;
      display: flex;
      align-items: center;
    }

  }

  .button {
    padding: 10px;
  }
}